# Virtual Environment
venv/
env/
flaskcalenv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environment variables
.env
.env.*

# VS Code
.vscode/

# Jupyter Notebook
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db